#tiny-chat .chat-menu__list-brand .brand {
    padding: 2px 0;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tiny-chat .chat-menu__list-brand .brand.active {
    background-color: var(--bg-hover__main);
}

#tiny-chat .chat-menu__list-brand .brand:hover {
    background-color: var(--color-hover__main);
}

#tiny-chat .chat-menu__list-brand .brand:hover {
    background-color: var(--color-hover__main);
    color: var(--text-secondary);
    cursor: pointer;
}

#tiny-chat .tiny-chat .chat-menu__list-brand .brand .user-avatar {
    margin-top: 30px;
    position: relative;
}

#tiny-chat .tiny-chat .chat-menu__list-brand .brand .badge-danger {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    display: none;
}

#tiny-chat .chat-menu__list-brand .brand .info-content {
    width: 160px;
    display: none;
}

#tiny-chat .chat-menu__list-brand .brand .info-content .user-name{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 150px;
    overflow: hidden;
}