/* chat-menu  */
#tiny-chat.tiny-chat .chat-menu {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
    background-color: var(--bg-main);
    color: var(--color-main);
    position: relative;
}

/* chat-menu__item  */
#tiny-chat .tiny-chat .chat-menu .chat-menu__item {
    text-align: center;
    padding: 20px 10px;
    width: 100%;
}

#tiny-chat .tiny-chat .chat-menu .chat-menu__item:hover {
    background-color: var(--bg-hover__main);
    color: var(--color-hover__main);
}

#tiny-chat .tiny-chat .chat-menu .chat-menu__item i {
    font-size: 30px;
}

#tiny-chat .tiny-chat .chat-menu .chat-menu__item.user-avatar {
    padding: 0;
    width: 50px;
    height: 50px;
    margin: 10px 5px;
}

#tiny-chat .tiny-chat .chat-menu .chat-menu__item-main.chat-menu__item.user-avatar {
    position: absolute;
    top: 0;
}

#tiny-chat .tiny-chat .chat-menu .chat-menu__item.user-avatar:hover {
    background-color: transparent;
}

#tiny-chat .tiny-chat .chat-menu .chat-menu__item.user-avatar img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#tiny-chat.tiny-chat .chat-menu .chat-menu__list-brand {
    overflow-y: auto;
    position: absolute;
    top: 40px;
    width: 100%;
    height: calc(100vh - 195px);
}

#tiny-chat.tiny-chat .chat-info {
    width: 400px;
    position: relative;
}

#tiny-chat .chat-info .chatinfo.chatinfo-avatar .info-user .user-text {}

#tiny-chat .chat-info .chatinfo.chatinfo-avatar .info-user .user-name {
    width: calc(100% - 30px);
    font-weight: 600;
    font-size: 13px;
}

#tiny-chat.tiny-chat .chat-view {
    width: 100%;
}

/* message */
#tiny-chat .message {
    max-width: 60%;
    line-height: 18px;
    padding: 5px 10px;
}

#tiny-chat .message-left {
    float: left;
}

#tiny-chat .message-right {
    float: right;
}

#tiny-chat .message.message-right .message-content {
    background-color: var(--bg-message-primary);
    color: var(--color-main);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#tiny-chat .message .message-content .content-msg span {
    user-select: text !important;
    font-size: 12px;
}

#tiny-chat .message.message-right .message-content .content-isseen,
#tiny-chat .message.message-right .message-content .content-time {
    color: white;
}

#tiny-chat .message .message-content .content-isseen {
    display: none;
}

#tiny-chat .message .message-content .content-isseen i {
    color: white;
    padding-left: 5px;
    font-size: 12px;
}

#tiny-chat .message .message-content {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--bg-message-secondary);
    display: inline-block;
}

#tiny-chat .message .message-content .content-msg img {
    width: 100% !important;
}

#tiny-chat .message .message-content .content-isseen,
#tiny-chat .message .message-content .content-time {
    color: var(--secondary);
    font-size: 9px;
    margin-top: 2px;
}

#tiny-chat .message .message-content .content-info {
    display: flex;
    justify-content: end;
    margin-top: 5px;
}

#tiny-chat .message-right .message-user,
#tiny-chat .message-left .message-user {
    font-weight: 500;
    padding: 5px 10px;
}

#tiny-chat .message-left .message-user {
    text-align: start;
}

#tiny-chat .message-right .message-user {
    text-align: end;
}

#tiny-chat .message-right .message-user .user-avatar,
#tiny-chat .message-left .message-user .user-avatar {
    width: 50px;
    height: 50px;
    float: right;
}

#tiny-chat .message-right .message-user .user-avatar img,
#tiny-chat .message-left .message-user .user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#tiny-chat .message.message-avatar {
    display: flex;
}

/* chat box */
#tiny-chat .chat-box {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    position: relative;
}

#tiny-chat .chat-box .chat-box__content {
    height: calc(100%);
    position: relative;
    display: none;
}

#tiny-chat .chat-box .chat-box__content .chat-box__content-list {
    height: calc(100% - 115px);
}

#tiny-chat .chat-box .chat-box__content .chat-box__view {
    height: 100%;
    overflow-y: scroll;
    overflow-wrap: anywhere;
}

#tiny-chat .chat-box .chat-box__content .chat-box__view .loading-water.loading {
    margin-top: 5%;
}

/* chat-box__input  */
#tiny-chat .chat-box .chat-box__input {
    width: 100%;
    position: absolute;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: var(--bg);
    z-index: 1;
}

/* chat-box__input list */
#tiny-chat .chat-box .chat-box__input .chat-box__content-list {
    display: none;
}

/* chat-box__bar  */
#tiny-chat .chat-box .chat-box__input .chat-box__bar {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 10px;
}

#tiny-chat .chat-box .chat-box__input .chat-box__bar .item-bar {
    font-weight: 600;
    right: 0px;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    background-color: var(--bg);
    margin: 5px;
}

#tiny-chat .chat-box .chat-box__input .chat-box__bar .item-bar:hover {
    background-color: var(--bg-hover);
}

#tiny-chat .chat-box .chat-box__input .chat-box__bar .item-bar:hover i {
    color: var(--bg-hover__main);
}

#tiny-chat .chat-box .chat-box__input .chat-box__bar .item-bar i {
    color: var(--bg-secondary);
}

/* #send-message__form  */
#tiny-chat .chat-box .chat-box__input .send-message__form .message-textarea {
    width: 100%;
    height: 50px;
    resize: none;
    overflow-y: scroll;
    outline: none;
    padding: 17px 20px 13px 20px;
    border: 0;
    padding-right: 95px;
    position: relative;
    z-index: 1;
    font-size: 15px;
    box-sizing: border-box;
    margin-bottom: -6px;
}

#tiny-chat .chat-box .chat-box__input .send-message__form .btn-submit {
    height: 50px;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    width: 80px;
    right: 0px;
    font-size: 20px;
    border-radius: 0;
    display: none;
    z-index: 1;
}

#tiny-chat .chat-box .chat-box__input .chat-box__bar .view-count-message {
    font-size: 15px;
    text-align: end;
    flex: auto;
    font-weight: 400;
    color: var(--bg-secondary);
}

/* chat-box__move-down  */

#tiny-chat .chat-box .chat-box__move-down {
    position: absolute;
    right: 30px;
    bottom: 135px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--bg-btn);
    color: var(--color-btn);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#tiny-chat .chat-box .chat-box__move-down i {
    font-size: 20px;
    margin-top: 6px;
}

/* typing  */
#tiny-chat .typing-bubble {
    -webkit-border-radius: 20px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius: 20px;
    -moz-border-radius-bottomleft: 2px;
    border-radius: 20px;
    border-bottom-left-radius: 2px;
    display: inline-block;
}

#tiny-chat .typing-bubble .typing {
    align-items: center;
    display: flex;
    height: 17px;
}

#tiny-chat .typing-bubble .typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    background-color: var(--bg-message-secondary);
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
    display: inline-block;
}

#tiny-chat .typing-bubble .typing .dot:nth-child(1) {
    animation-delay: 200ms;
}

#tiny-chat .typing-bubble .typing .dot:nth-child(2) {
    animation-delay: 300ms;
}

#tiny-chat .typing-bubble .typing .dot:nth-child(3) {
    animation-delay: 400ms;
}

#tiny-chat .typing-bubble .typing .dot:last-child {
    margin-right: 0;
}

@keyframes mercuryTypingAnimation {
    0% {
        transform: translateY(0px);
        background-color: #274cd4;
    }

    28% {
        transform: translateY(-7px);
        background-color: #6f86db;
    }

    44% {
        transform: translateY(0px);
        background-color: #b5bdd9;
    }
}

/* new-msg-badge  */
#tiny-chat .chat-box .chat-box__content .new-msg-badge {
    position: absolute;
    bottom: 135px;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 15px;
    background-color: var(--text-secondary);
    color: var(--color-active);
    font-weight: 600;
    left: calc(50% - 75px);
    font-size: 12px;
    width: 150px;
    text-align: center;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

/* chat-box-view__date-label  */
#tiny-chat .chat-box .chat-box__content .chat-box-view__date-label {
    margin: auto;
    background-color: var(--text-secondary);
    color: var(--color-active);
    font-weight: 600;
    border-radius: 20px;
    padding: 2px 10px;
    font-size: 12px;
    margin-top: 5px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

/* client-tiny-chat  */
#tiny-chat #client-tiny-chat button {
    pointer-events: none;
}

#tiny-chat #client-tiny-chat .chat-box .chat-box__input .chat-box__bar {
    margin: 0;
}

#tiny-chat #client-tiny-chat .chat-box .chat-box__input .send-message__form {
    height: 40px;
}

#tiny-chat #client-tiny-chat .chat-box .chat-box__head .chatinfo:hover {
    background-color: transparent;
}