#tiny-chat .error-404 {
    text-align: center;
    padding-bottom: 50px;
}

#tiny-chat .error-title h1 {
    font-size: 30px;
    font-weight: 700;
}

#tiny-chat .error-title p {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
}

#tiny-chat .error-404 .error-content {
    font-size: 180px;
    font-weight: 800;
}

#tiny-chat .error-404 .error-content>span {
    display: inline-block;
    line-height: 0.7;
    position: relative;
    color: #FFB485;
}

#tiny-chat .error-404 .error-content>span {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

#tiny-chat .error-404 .error-content>span:nth-of-type(1) {
    color: #D1F2A5;
    animation: colordancing 4s infinite;
}

#tiny-chat .error-404 .error-content>span:nth-of-type(3) {
    color: #F56991;
    animation: colordancing2 4s infinite;
}

#tiny-chat .error-404 .error-content>span:nth-of-type(2) {
    width: 120px;
    height: 120px;
    border-radius: 999px;
}

#tiny-chat .error-404 .error-content>span:nth-of-type(2):before,
#tiny-chat .error-404 .error-content>span:nth-of-type(2):after {
    border-radius: 0%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 999px;
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
        inset 0 30px 0 rgba(239, 250, 180, 0.4),
        inset -30px 0 0 rgba(255, 196, 140, 0.4),
        inset 0 -30px 0 rgba(245, 105, 145, 0.4);
    animation: shadowsdancing 4s infinite;
}

#tiny-chat .error-404 .error-content>span:nth-of-type(2):before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

#tiny-chat .error-404 .screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}

@keyframes shadowsdancing {
    0% {
        box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
            inset 0 30px 0 rgba(239, 250, 180, 0.4),
            inset -30px 0 0 rgba(255, 196, 140, 0.4),
            inset 0 -30px 0 rgba(245, 105, 145, 0.4);
    }

    25% {
        box-shadow: inset 30px 0 0 rgba(245, 105, 145, 0.4),
            inset 0 30px 0 rgba(209, 242, 165, 0.4),
            inset -30px 0 0 rgba(239, 250, 180, 0.4),
            inset 0 -30px 0 rgba(255, 196, 140, 0.4);
    }

    50% {
        box-shadow: inset 30px 0 0 rgba(255, 196, 140, 0.4),
            inset 0 30px 0 rgba(245, 105, 145, 0.4),
            inset -30px 0 0 rgba(209, 242, 165, 0.4),
            inset 0 -30px 0 rgba(239, 250, 180, 0.4);
    }

    75% {
        box-shadow: inset 30px 0 0 rgba(239, 250, 180, 0.4),
            inset 0 30px 0 rgba(255, 196, 140, 0.4),
            inset -30px 0 0 rgba(245, 105, 145, 0.4),
            inset 0 -30px 0 rgba(209, 242, 165, 0.4);
    }

    100% {
        box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
            inset 0 30px 0 rgba(239, 250, 180, 0.4),
            inset -30px 0 0 rgba(255, 196, 140, 0.4),
            inset 0 -30px 0 rgba(245, 105, 145, 0.4);
    }
}

@keyframes colordancing {
    0% {
        color: #D1F2A5;
    }

    25% {
        color: #F56991;
    }

    50% {
        color: #FFC48C;
    }

    75% {
        color: #EFFAB4;
    }

    100% {
        color: #D1F2A5;
    }
}

@keyframes colordancing2 {
    0% {
        color: #FFC48C;
    }

    25% {
        color: #EFFAB4;
    }

    50% {
        color: #D1F2A5;
    }

    75% {
        color: #F56991;
    }

    100% {
        color: #FFC48C;
    }
}


/* mini-error-404  */

#tiny-chat .error-404.mini-error-404 .error-content {
    font-size: 100px;
    font-weight: 800;
    height: 400px;
}

#tiny-chat .error-404.mini-error-404 .error-title h1 {
    font-size: 20px;
}

#tiny-chat .error-404.mini-error-404 .error-title p {
    font-size: 12px;
    margin: 0;
}

#tiny-chat .error-404.mini-error-404 .error-content>span:nth-of-type(2) {
    width: 80px;
    height: 80px;
    border-radius: 999px;
}

#tiny-chat .tiny-chat .chat-info .chat-info__content .mini-error-404 .error-content {
    display: flex;
    direction: revert;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

#tiny-chat .tiny-chat .chat-info .chat-info__content .mini-error-404 {
    padding: 0 20px;
}

#tiny-chat .tiny-chat .chat-info .chat-info__content .mini-error-404 .error-bottom {
    margin-top: 20px;
}

#tiny-chat .tiny-chat .chat-info .chat-info__content .chat-info__list-chatinfo {
    display: none;
}

/* image  */
#tiny-chat .error.error-image {
    width: 100%;
    position: relative;
    padding: 0;
}

#tiny-chat .error.error-image .error-title {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
}

#tiny-chat .error.error-image .error-content img {
    width: 100%;
    /* height: 100%; */
    border-radius: 10px;
}

/* settings  */
#tiny-chat .settings .error.error-image {
    padding: 0;
}

#tiny-chat .settings .error.error-image .error-title {
    top: 350px;
}

#tiny-chat .settings .error.error-image .error-title h1 {
    margin: 0;
}

/* chat-box */
#tiny-chat .chat-box .chat-box__content .chat-box__view .error .error-title {
    top: 440px;
}

#tiny-chat .chat-box .chat-box__content .chat-box__view .error .error-title h1 {
    margin: 0;
}

#tiny-chat .chat-box .chat-box__content .chat-box__view .error {
    margin-top: 20px;
}

#tiny-chat .chat-box .chat-box__content .chat-box__view .error-image img {
    width: 400px;
}