/* loading */
#tiny-chat .loading {
    width: 100hw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* .water */
#tiny-chat .loading-water {
    margin-top: 10px;
    width: 400px;
    height: 400px;
    background-color: skyblue;
    border-radius: 50%;
    position: relative;
    box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, .5), 0 4px 10px 0 rgba(0, 0, 0, .5);
    overflow: hidden;
    z-index: 1000;
}

#tiny-chat .loading-water:before,
#tiny-chat .loading-water:after {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    top: -150px;
    background-color: #fff;
}

#tiny-chat .loading-water:before {
    border-radius: 45%;
    background: rgba(255, 255, 255, .7);
    animation: wave 5s linear infinite;
}

#tiny-chat .loading-water:after {
    border-radius: 35%;
    background: rgba(255, 255, 255, .3);
    animation: wave 5s linear infinite;
}

@keyframes wave {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* loader */
/* #tiny-chat .loader-blur {
    animation: load-blur 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px white;
    margin: auto;
    height: 30px;
    color: var(--text-secondary);
}

@keyframes load-blur {
    0% {
        opacity: 0.08;
        font-size: 12px;
        font-weight: 400;
        filter: blur(5px);
        letter-spacing: 3px;
    }

    100% {
        opacity: 1;
        font-size: 18px;
        font-weight: 600;
        filter: blur(0);
    }
} */

/*.blur-bg_layout */
#tiny-chat .blur-bg_layout {
    display: none;
    content: " ";
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary);
    opacity: 0.5;
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
}

#tiny-chat .blur-bg_layout .loading {
    margin-top: 10%;
}

/* circle loader */
#tiny-chat .loader-blur.loader-socket {
    padding: 10px 20px;
    background-color: var(--danger);
    border-radius: 0;
    font-size: 15px;
    width: -webkit-fill-available;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#tiny-chat .loader-blur.loader-socket .circle-loader {
    margin: 0;
    margin-right: 10px;
}

#tiny-chat .chat-box__view .loader-blur.loader-socket {
    height: 30px;
}

#tiny-chat .circle-loader {
    height: 32px;
    width: 32px;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#tiny-chat .circle-loader::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #FFF;
    border-radius: 50%;
    -webkit-animation: circle-loader-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: circle-loader-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes circle-loader-1 {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }

    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
}

@keyframes circle-loader-1 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

#tiny-chat .circle-loader span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 32px;
    width: 32px;
    -webkit-animation: circle-loader-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: circle-loader-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes circle-loader-2 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes circle-loader-2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#tiny-chat .circle-loader span::before,
#tiny-chat .circle-loader span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 12px;
    width: 12px;
    background: #FFF;
    border-radius: 50%;
    -webkit-animation: circle-loader-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: circle-loader-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes circle-loader-3 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        -webkit-transform: translate3d(-16px, 0, 0) scale(.5);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes circle-loader-3 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(-16px, 0, 0) scale(.5);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

#tiny-chat .circle-loader span::after {
    -webkit-animation: circle-loader-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: circle-loader-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes circle-loader-4 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        -webkit-transform: translate3d(16px, 0, 0) scale(.5);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes circle-loader-4 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(16px, 0, 0) scale(.5);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}