@import "fontawesome-all.css";
@import "forms.css";
@import "errors.css";
@import "buttons.css";
@import "images.css";
@import "texts.css";
@import "inputs.css";
@import "loadings.css";
@import "chats.css";
@import "users.css";
@import "brands.css";
@import "notifications.css";
@import "members.css";
@import "animations.css";
@import "popups.css";
@import "app.css";
@import "tables.css";
@import "banners.css";
@import "home.layout.css";

/* client */
@import "../../client/public/css/main.css";

/* libraries */
@import "libraries/coloris.css";
@import "libraries/eocjs-newsticker.css";
@import "libraries/owl.carousel.css";
@import "libraries/owl.theme.default.css";

:root {
    --primary: #1877f2;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;

    --light: #f8f9fa;
    --dark: #343a40;

    --font-family: sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* Main  */
    /* --bg-btn: #1877f2;
    --color-btn: #f5f8fd;
    --color-link: #1877f2;

    --bg-hover: #e6e9ec;
    --color-hover: black;

    --bg-message-secondary: #f6faff;
    --bg-message-primary: #4b88d8;

    --bg-active: #1877f2;
    --color-active: #f5f8fd;

    --bg-main: #1877f2;
    --color-main: #f5f8fd;
    --bg-hover__main: #074699;
    --color-hover__main: #f5f8fd;

    --text-secondary: #9fa4a8; */


    /* I-WEB  */
    --bg: #f5f8fd;

    --bg-btn: #eab741;
    --color-btn: #f5f8fd;
    --color-link: #1877f2;

    --bg-hover: #e6e9ec;
    --color-hover: black;

    --bg-message-secondary: #f6faff;
    --bg-message-primary: #4b88d8;

    --bg-active: #eab741;
    --color-active: #f5f8fd;

    --bg-main: #eab741;
    --color-main: #f5f8fd;
    --bg-hover__main: #dda526;
    --color-hover__main: #f5f8fd;

    --text-secondary: #9fa4a8;
    --bg-secondary: #6e757a;

    --bg-form__home: #e6e9ec;
    --bg-input__home: #f5f8fd;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
}

*:focus {
    outline: none;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark);
    text-align: left;
    background-color: var(--bg);
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    color: var(--dark);
    text-decoration: none;
    outline: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container:before,
.container::after {
    display: table;
    content: " ";
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--bg-main);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {}

#tiny-chat input::-webkit-outer-spin-button,
#tiny-chat input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#tiny-chat input[type=number] {
    -moz-appearance: textfield;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

#tiny-chat .chat-box .chat-box__move-down:hover,
#tiny-chat .alert-action i:hover,
#tiny-chat .chat-menu__item:hover,
#tiny-chat .message:hover,
#tiny-chat .profile-item:hover,
#tiny-chat .chatinfo:hover,
#tiny-chat .menu-item:hover,
#tiny-chat input:hover,
#tiny-chat textarea:hover,
#tiny-chat button:hover,
#tiny-chat label:hover,
#tiny-chat image:hover {
    cursor: pointer;
}

#tiny-chat .chatinfo.active,
#tiny-chat .menu-item.active {
    background-color: var(--bg-active);
    color: var(--color-active);
}

#tiny-chat textarea,
#tiny-chat input {
    font-family: var(--font-family);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

#tiny-chat input:focus,
#tiny-chat button:focus {
    border: none;
    outline: none;
}

#tiny-chat input:focus {
    border: 1px solid var(--bg-hover__main);
}

#tiny-chat button:focus {
    /* box-shadow: var(--bg-hover__main) 0px 0px 0px 1px; */
}

#tiny-chat {
    position: relative;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}