/* text */
/* label */
#tiny-chat .text-center {
    text-align: center;
}

#tiny-chat .label-error {
    color: var(--danger);
    font-size: 12px;
}

#tiny-chat .label-info {
    color: var(--info);
    font-size: 12px;
}

#tiny-chat .alert-error {
    background-color: var(--danger) !important;
    color: white !important;
}

#tiny-chat .alert-success {
    background-color: var(--success) !important;
    color: white !important;
}

/* badge-danger */

#tiny-chat div[class^=badge-] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    text-align: center;
    padding-top: 1px;
    font-weight: 600;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
}

#tiny-chat .badge-new {
    border-radius: 5px !important;
    background-color: yellow;
    width: 30px !important;
    color: black !important;
    float: right;
}

#tiny-chat .badge-danger {
    background-color: var(--danger);
}

#tiny-chat .badge-success {
    background-color: var(--success);
}

/* label */
#tiny-chat .label-title {
    font-weight: 700;
    text-align: start;
    margin-bottom: 7px;
}

/* alert  */
#tiny-chat .alert {
    z-index: 999999;
    color: white;
    width: 500px;
    height: 50px;
    top: -50px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    -webkit-transition: transform 3s ease-out;
    -moz-transition: transform 3s ease-out;
    -o-transition: transform 3s ease-out;
    -ms-transition: transform 3s ease-out;
    transition: transform 3s ease-out;
    animation: move-alert 3s;
    visibility: visible;
    animation-fill-mode: forwards;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px
}

#tiny-chat .alert .alert-icon,
#tiny-chat .alert .alert-action {
    width: 50px;
}

#tiny-chat .alert .alert-icon {
    text-align: start;
}

#tiny-chat .alert .alert-content {
    font-size: 13px;
}

#tiny-chat .alert .alert-action {
    text-align: end;
}

#tiny-chat .alert .alert-action i:hover {
    font-size: 30px;
}

@keyframes move-alert {
    0% {
        transform: translate(0px, 0px)
    }

    100% {
        transform: translate(0px, 60px)
    }
}

#tiny-chat .error-alert {
    background-color: var(--danger);
}

#tiny-chat .success-alert {
    background-color: var(--success);
}

#tiny-chat .info-alert {
    background-color: var(--info);
}

#tiny-chat .alert .alert-icon,
#tiny-chat .alert .alert-action i {
    font-size: 25px;
}

/* out-of-data */
#tiny-chat .out-of-data {
    display: flex;
    font-size: 15px;
    font-weight: 500;
    color: var(--secondary);
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 5px 0;
}

#tiny-chat .out-of-data::after,
#tiny-chat .out-of-data::before {
    content: " ";
    display: inline-block;
    height: 1px;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 5px;
}

/* tooltip */
#tiny-chat .tooltip {
    position: relative;
}

#tiny-chat .tooltip .tooltipisseen {
    display: none;
}

#tiny-chat .tooltip:hover .tooltipisseen {
    display: contents;
}

/* tooltip */
#tiny-chat .tooltip .tooltiptext {
    visibility: hidden;
    /* width: 120px; */
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    font-size: 15px;
}

#tiny-chat .tooltip .tooltiptext.tooltiptext-table {
    text-align: start;
    padding: 5px 10px;
}

#tiny-chat .tooltip:hover .tooltiptext {
    visibility: visible;
}

#tiny-chat .divid {
    width: 0.1px;
    height: 50%;
    background-color: var(--bg-secondary);
}

/* Status  */
#tiny-chat .status {
    font-size: 10px;
    color: white;
    border-radius: 5px;
    background-color: var(--primary);
    padding: 2px 5px;
    font-weight: 500;
    width: fit-content;
}

#tiny-chat .status.status-active {
    background-color: var(--success);
}

#tiny-chat .status.status-not-active {
    background-color: var(--danger);
}

#tiny-chat .status.status-pendding {
    background-color: var(--warning);
}