/* settings */
#tiny-chat .settings {
    max-width: 850px;
    display: none;
    position: absolute;
    top: 0px;
    background: var(--bg);
    left: 0px;
    right: 0px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin: auto;
    margin-top: 20px;
    z-index: 5;
    height: 600px;
}

/* Setting brand  */
#tiny-chat .settings .settings-brand {
    display: none;
}

#tiny-chat .settings-head {
    display: flex;
    font-size: 30px;
    font-weight: 700;
}

#tiny-chat .settings-head .head-title {
    width: 90%;
    text-align: left;
}

#tiny-chat .settings-head .head-action {
    width: 10%;
    text-align: right;
}

#tiny-chat .settings-content {
    display: flex;
    height: 500px;
}

#tiny-chat .settings-content .settings-menu {
    width: 30%;
}

#tiny-chat .settings-content .settings-detail {
    width: 70%;
    overflow-y: scroll;
}

#tiny-chat .settings-menu .menu-item {
    padding: 10px 20px;
}

#tiny-chat .settings-menu .menu-item:hover {
    background-color: var(--bg-hover);
    color: var(--color-hover);
}

#tiny-chat .settings-menu .menu-item div {
    display: inline-block;
}

#tiny-chat .settings-menu .menu-item .item-icon {
    width: 30px;
}

#tiny-chat .settings-menu .menu-item .item-icon,
#tiny-chat .settings-menu .menu-item .item-content {
    margin-right: 5px;
    font-weight: 500;
}

/* info-user  */

#tiny-chat .chatinfo {
    display: flex;
    padding: 0px 10px;
    height: 80px;
    align-items: center;
    width: 100%;
}

#tiny-chat .chatinfo:hover {
    background-color: var(--bg-hover);
    color: var(--color-hover);
}

#tiny-chat .chatinfo .info-user {
    width: 80%;
    padding-right: 10px;
}

#tiny-chat .chatinfo .info-action {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tiny-chat .chatinfo .info-action .action-icon {
    font-size: 20px;
    display: none;
}

#tiny-chat .chatinfo:hover .action-icon {
    display: block;
}

#tiny-chat .chatinfo .info-user .user-phone {
    width: 70%;
    color: var(--text-secondary);
}

#tiny-chat .chatinfo .info-user .user-name {
    width: 80%;
    font-weight: 700;
    display: inline;
    position: relative;
}

#tiny-chat .chatinfo .info-user .user-online {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 0px;
}

#tiny-chat .chatinfo.chatinfo-avatar .info-user .user-avatar {
    width: 60px;
    height: 60px;
}

#tiny-chat .chatinfo.chatinfo-avatar .info-user .user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#tiny-chat .chatinfo.chatinfo-avatar .info-user .user-name,
#tiny-chat .chatinfo.chatinfo-avatar .info-user .user-phone {
    padding-left: 10px;
    align-self: self-start;
}

#tiny-chat .chatinfo.chatinfo-avatar .info-user {
    display: flex;
    align-items: center;
}

#tiny-chat .chatinfo.chatinfo-avatar .info-user .user-name,
#tiny-chat .chatinfo.chatinfo-avatar .info-user .user-avatar {
    width: 60px;
    position: relative;
}

/* tiny-chat  */
#tiny-chat .tiny-chat .chat-menu,
#tiny-chat .tiny-chat .chat-info,
#tiny-chat .tiny-chat .chat-view {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

/* #tiny-chat .tiny-chat .chat-info .chat-info__menu {
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
} */

#tiny-chat .tiny-chat .chat-info .chat-info__content {
    height: calc(100% - 80px);
    overflow: auto;
    position: absolute;
    top: 0;
    margin-top: 80px;
    width: 100%;
}

/* chat-menu__item  */
#tiny-chat .tiny-chat .chat-menu .chat-menu__item {
    text-align: center;
    padding: 20px 10px;
    width: 100%;
}

#tiny-chat .tiny-chat .chat-menu .chat-menu__item:hover {
    background-color: var(--bg-hover__main);
    color: var(--color-hover__main);
}

#tiny-chat .tiny-chat .chat-menu .chat-menu__item i {
    font-size: 30px;
}

#tiny-chat .tiny-chat .chat-menu .chat-menu__item.user-avatar {
    position: absolute;
    top: 10px;
    padding: 0;
}

#tiny-chat .tiny-chat .chat-menu .chat-menu__item.user-avatar:hover {
    background-color: transparent;
}

#tiny-chat .tiny-chat .chat-menu .chat-menu__item.user-avatar img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* bg-layout */

#tiny-chat .bg-layout {
    display: none;
    content: " ";
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary);
    opacity: 0.5;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}