/* info-user  */
#client-tiny-chat .chat-box .chatinfo {
    display: flex;
    padding: 0px 10px;
    height: 100%;
    align-items: center;
}

#client-tiny-chat .register-chat .register-content form .input-group textarea:hover,
#client-tiny-chat .register-chat .register-content form .input-group button:hover,
#client-tiny-chat .register-chat .register-content form .input-group input:hover,
#client-tiny-chat .chat-box #message-textarea:hover,
#client-tiny-chat .chat-bubble:hover,
#client-tiny-chat .chat-box .chatinfo:hover {
    cursor: pointer;
}

#client-tiny-chat .chat-box .chatinfo .info-user {
    width: 80%;
    padding-right: 10px;
}

#client-tiny-chat .chat-box .chatinfo .info-action {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#client-tiny-chat .chat-box .chatinfo .info-action .action-icon {
    font-size: 20px;
    display: none;
}

#client-tiny-chat .chat-box .chatinfo.active:hover .action-icon {
    display: block;
}

#client-tiny-chat .chat-box .chatinfo .info-user .user-text {
    width: 70%;
    font-size: 12px;
    color: var(--text-secondary);
}

#client-tiny-chat .chat-box .chatinfo .info-user .user-name {
    width: 80%;
    font-weight: 700;
    display: inline;
    position: relative;
}

#client-tiny-chat .chat-box .chatinfo .info-user .user-online {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 5px;
}

#client-tiny-chat .chat-box .chatinfo.chatinfo-avatar .info-user .user-avatar {
    width: 40px;
    height: 40px;
}

#client-tiny-chat .chat-box .chatinfo.chatinfo-avatar .info-user .user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#client-tiny-chat .chat-box .chatinfo.chatinfo-avatar .info-user .user-name,
#client-tiny-chat .chat-box .chatinfo.chatinfo-avatar .info-user .user-text {
    padding-left: 10px;
    align-self: self-start;
    height: 20px;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#client-tiny-chat .chatinfo.chatinfo-avatar .info-content {
    width: calc(100% - 50px);
    text-align: start;
}

#client-tiny-chat .chat-box .chatinfo.chatinfo-avatar .info-user {
    display: flex;
    align-items: center;
}

#client-tiny-chat .chat-box .chatinfo.chatinfo-avatar .info-user .user-name,
#client-tiny-chat .chat-box .chatinfo.chatinfo-avatar .info-user .user-avatar {
    position: relative;
}